<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tccversaofinal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activitys.LoginActivity"
            android:theme="@style/AppThemeSemActionBar">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.CadastroActivity"
            android:parentActivityName=".Activitys.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Activitys.ProjetosActivity"
            android:parentActivityName=".Activitys.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.AddProjetoActivity"
            android:parentActivityName=".Activitys.ProjetosActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.ListasActivity"
            android:parentActivityName=".Activitys.ProjetosActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.GerenciarListasActivity"
            android:parentActivityName=".Activitys.ListasActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.DetalhesCartaoActivity"
            android:parentActivityName=".Activitys.ListasActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.ChatActivity"
            android:parentActivityName=".Activitys.ListasActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.ConversaActivity"
            android:parentActivityName=".Activitys.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activitys.ChatActivity" />
        </activity>
        <activity
            android:name=".Activitys.ConversaEmGrupoActivity"
            android:parentActivityName=".Activitys.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar">
            >
        </activity>
        <activity
            android:name=".Activitys.ChatDetalhesCartaoActivity"
            android:parentActivityName=".Activitys.DetalhesCartaoActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".Activitys.AnexarImagemActivity"
            android:parentActivityName=".Activitys.DetalhesCartaoActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".Activitys.AnexarPDFActivity"
            android:parentActivityName=".Activitys.DetalhesCartaoActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".Activitys.HistoricoTarefaActivity"
            android:parentActivityName=".Activitys.DetalhesCartaoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.AnexarTextoActivity"
            android:parentActivityName=".Activitys.DetalhesCartaoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.HistoricoProjetoActivity"
            android:parentActivityName=".Activitys.ListasActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.GerenciarMembrosActivity"
            android:parentActivityName=".Activitys.ListasActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activitys.AjudaActivity"
            android:parentActivityName=".Activitys.ListasActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".Activitys.ArquivoActivity"
            android:parentActivityName=".Activitys.ListasActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>

</manifest>